/*
* Board.css
* Styles for /components/Board.js
*/

.board {
  margin: 10px auto;
  border: 1rem solid #43404d;
  width: 50vw;
  height: 50vw;
  display: flex;
  flex-wrap: wrap;
}
.board:after{
    content: "";
    display: block;
    padding-top: 100%;
}
