/*
* Match.css
* Styles for /components/Match.js
*/

.match {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
