/*
* piece.css
* Styles for /components/Piece.js
*/

.piece { width: 40px; height: 40px; }
.piece img { width:40px; padding: 5px;  }
.piece:hover {  cursor: pointer; }
.piece_ui {
  width: 40px;
  height: 40px;
}
.piece.selected { background: #141019; box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.75); }

@media ( min-width: 580px ) {
  .piece,
  .piece_ui {
    width: 70px;
    height: 70px;
  }
  .piece img { width: 70px; padding: 10px; }
}
