/*
* piece.css
* Styles for /components/Piece.js
*/

.piece { width: 70px; height: 70px; }
.piece img { width:70px; padding: 10px; }
.piece:hover {  cursor: pointer; }
.piece_ui {
  width: 70px;
  height: 70px;
  background: none center center no-repeat;
  background-size: 80%;
}
.piece.selected { background: #beaece; }
