/*
* square.css
* Styles for /components/Square.js
*/

.square {
  text-align: center;
  height: 12.5%;
  width:  12.5%;
  max-height: 100vw;
  max-width: 100vw;
  background: #43404d;
}

.square:nth-child(-2n+8),
.square:nth-child(8) ~ .square:nth-child(-2n+15),
.square:nth-child(16) ~ .square:nth-child(-2n+24),
.square:nth-child(24) ~ .square:nth-child(-2n+31),
.square:nth-child(32) ~ .square:nth-child(-2n+40),
.square:nth-child(40) ~ .square:nth-child(-2n+47),
.square:nth-child(48) ~ .square:nth-child(-2n+56),
.square:nth-child(56) ~ .square:nth-child(-2n+63) {
  background-color: #fff;
}

.square.available {
  background: #a5d0a5 !important;
  animation: pulse 0.5s infinite;
}

@keyframes pulse {
  0% {
    background-color: #a5d0a5;
  }
  50% {
    background-color: #8ebb8e;
  }
  100% {
    background-color: #a5d0a5;
  }
}
